body {
    width: 100%;
    background-image: url('images/background_forest.jpg');
    background-size: cover;
    margin: 0;
}

h1 {
    font-family: 'Amatic SC', cursive;
    color: #274f3a;
    font-size: 65px;
    width: 450px;
    margin: 45px auto;
}

h2 {
    font-family: 'Neucha', cursive;
    color: #274f3a;
    font-size: 35px;
    padding-left: 50px;
    padding-top: 20px;
    margin-bottom: 15px;
}

#inputContainer {
    text-align: center;
}

.inputField {
    height: 40px;
    width: 500px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #142b1f;
    font-size: 25px;
    background-color: #fafbf5;
    border-radius: 3px;
    margin-bottom: 15px;
}

.submitButton {
    height: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #142b1f;
    font-size: 20px;
    background-color: #fafbf5;
    border-radius: 4px;
    margin: 0px 15px;
    cursor: pointer;
}

#listContainer {
    display: inline-flex;
    margin-top: 30px;
    justify-content: center;
    width: 100%;
}

.toDoListContainer {
    background-color: #fafbf5;
    border-radius: 6px;
    width: 400px;
    margin: 0px 60px;
    padding-bottom: 20px;
}

.toDoList {
    width: 300px;
    padding-bottom: 20px;
    margin: 0 10px;
    flex-direction: column;
    display: flex;
}

li {
    display: inline-flex;
    align-items: center
}

li .listItem {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    color: #142b1f;
    margin: 5px 10px;
}

li .deleteButton {
    background-color: #274f3a;
    color: #fbfbf5;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    margin-left: 10px;
    border-radius: 8px;
    height: 24px;
    cursor: pointer;
}